.detail {
  background-image: url("../assets/images/bg-section-top-desktop-1.svg");
}
.detail1{
  background-image: url("../assets/images/bg-section-bottom-desktop-1.svg");
}
.footer{
  background-image: url("../assets/images/bg-footer-top-desktop.svg");
}
.footer-body {
  background-color: #00252E;
}
/*#F6FBFF*/
@media (max-width: 678px) {
  .detail {
    background-image: url("../assets/images/bg-section-top-mobile-1.svg");
  }
  .detail1{
    background-image: url("../assets/images/bg-section-bottom-mobile-1.svg");
  }
  .footer{
    background-image: url("../assets/images/bg-footer-top-mobile.svg");
  }
}
